/*header style*/

header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 1px #cccccc;
    height: 70px;
}

.headerContainer{
    width: 960px;
    margin: 0 auto;
}

h1{
    background-color: blue;
    height: 30px;
    float: left;
    margin: 0;
    padding: 20px 10px;
    color: #ffffff;
}

nav{
    float: right;
    padding: 20px 0 0 0;
}

a{
    color: lightgray;
    text-decoration: none;
    font-size: 16px;
    padding: 0 10px 0 0;
}

/*body style*/

body {
    background-image: url("../images/memphis-mini.png");
    margin:0;
}

section{
    width: 960px;
    margin: 45px auto;
    background-color: #ffffff;
    padding: 30px;
    overflow: auto;

}

img {
    float: left;
    padding: 10px;
    margin: 0 15px 15px 0;

}

/*footer style*/

footer {
    width: 100%;
    background-color: #ffffff;
    height: 70px;
    text-align: center;
    border-top: solid 1px #cccccc;
    padding-top: 10px;
}
.footer,
.push {
  height: 50px;
}